@using Microsoft.AspNet.Identity
@model Team1_DynamicForms.Models.FormsAndSubmissionsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  @* <div style="color:blue">
        @Html.ActionLink("Test Form 1", "Fill", "User", new { saved = 0, id = 1 }, null)
        @Html.ActionLink("Test Form 2", "Fill", "User", new { saved = 0, id = 2 }, null)
        @Html.ActionLink("Test Form 3", "Fill", "User", new { saved = 0, id = 3 }, null)
        @Html.ActionLink("Test Form 4", "Fill", "User", new { saved = 0, id = 4 }, null)
        @Html.ActionLink("Test Form 5", "Fill", "User", new { saved = 0, id = 5 }, null)
    </div>*@

<h2>Hello @User.Identity.GetUserName()</h2>
<hr />

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Forms</div>
            <div class="panel-body">


                <div class="col-sm-3 col-xs-12">
                    <h3>
                        Start
                    </h3>
                    <hr />
                    <ul class="sectionOptions">
                        @foreach (var item in @Model.unsubmittedForms)
                        {

                            <a href="/user/fill/@item.Id?saved=0">
                                <li>
                                    @item.Name
                                </li>
                            </a>
                        }
                    </ul>
                </div>

                <div class="col-md-1"></div>


                <div class="col-sm-3 col-xs-12">
                    <h3>
                        Continue 
                    </h3>
                    <hr />
                    <ul class="sectionOptions">
                        @foreach (var item in @Model.submittedForms)
                        {

                            <a href="/user/fill/@item.Id?saved=1">
                                <li>
                                    @item.FormSubmission.WholeForm.Name
                                </li>
                            </a>
                        }
                    </ul>
                </div>

                <div class="col-md-2"></div>

                <div class="col-sm-3 col-xs-12">
                    <h3>
                        Status
                    </h3>
                    <hr />
                    <ul class="sectionOptions">
                    </ul>
                </div>
            </div>
        </div>
    </div>
