@using Microsoft.AspNet.Identity
@model Team1_DynamicForms.Models.FormsAndSubmissionsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello @User.Identity.GetUserName()</h2>

  @* <div style="color:blue">
        @Html.ActionLink("Test Form 1", "Fill", "User", new { saved = 0, id = 1 }, null)
        @Html.ActionLink("Test Form 2", "Fill", "User", new { saved = 0, id = 2 }, null)
        @Html.ActionLink("Test Form 3", "Fill", "User", new { saved = 0, id = 3 }, null)
        @Html.ActionLink("Test Form 4", "Fill", "User", new { saved = 0, id = 4 }, null)
        @Html.ActionLink("Test Form 5", "Fill", "User", new { saved = 0, id = 5 }, null)
    </div>*@





<div class="col-lg-6 col-sm-6 col-md-6">

    <h3>
        Forms To Fill
    </h3>



    <table>
        @foreach (var item in @Model.unsubmittedForms)
        {
            <tr>
                <td>@Html.ActionLink("Unfilled Form", "Fill", "User", new { saved = 0, id = item.Id }, null)</td>
            </tr>
        }
    </table>
</div>

@if (Model.submittedForms != null)
{
    <div class="col-lg-6 col-sm-6 col-md-6">
        <h3>
            Saved Forms
        </h3>
        <table>
            @foreach (var item in @Model.submittedForms)
            {
                <tr>
                    <td>@Html.ActionLink("Form", "Fill", "User", new { saved = 1, id = item.Id }, null)</td>
                </tr>
            }
        </table>
    </div>
}
else
{     
    <div class="col-lg-6 col-sm-6 col-md-6">
        <h3>
            No Saved Forms Available
        </h3>
    </div>
}



