@model IEnumerable<Team1_DynamicForms.Models.SuperAdminIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Users</h2>
<hr/>
<p>
    <a class="button-main" href="/SuperAdmin/Create"><span class="glyphicon glyphicon-plus"></span> Create User</a>
</p>

<div class="row">
    <div class="col-md-3">
        <a class="button-main" href="/WorkFlow/Index"><span class="glyphicon glyphicon-plus"></span> Workflows</a>
    </div>
</div>


<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Users</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            <a class="btn btn-success" href="/superadmin/edit/@item.Id">Edit</a>
                            <a class="btn btn-primary" href="/superadmin/details/@item.Id">Details</a>
                            <a class="btn btn-danger" href="/superadmin/delete/@item.Id">Delete</a>


                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

